<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kc.webdemo.mapper.UserDataMapper">
    <resultMap id="BaseResultMap" type="com.kc.webdemo.bean.UserData">
        <result property="userId" column="user_id" jdbcType="INTEGER" />
        <result property="userName" column="user_name" jdbcType="VARCHAR" />
        <result property="gender" column="gender" jdbcType="INTEGER" />
        <result property="birthday" column="birthday" jdbcType="VARCHAR" />
        <result property="totalTravalRoad" column="total_traval_road" jdbcType="VARCHAR" />
        <result property="totalTravalTime" column="total_traval_time" jdbcType="TIMESTAMP" />
    </resultMap>
    <select id="queryUserList" resultMap="BaseResultMap">
        select * from user_data
    </select>
    <select id="queryUserById" resultMap="BaseResultMap">
        select *
        from user_data
        where user_id=#{id};
    </select>
    <insert id="addUser" parameterType="com.kc.webdemo.bean.UserData">
        insert into
        user_data(user_id,user_name,pwd)
        values(#{id},#{name},#{pwd});
    </insert>
    <update id="updateUser" parameterType="com.kc.webdemo.bean.UserData">
        update user_data
        set name=#{name},pwd=#{pwd}
        where id=#{id};
    </update>
    <delete id="deleteUser" parameterType="int">
        delete
        from user_data
        where id=#{id};
    </delete>
</mapper>
